<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css" />
    <title>{{ HTML_base.title }}</title>
{% endblock %}
{%- for line in HTML_base.imports %}
    {{ line -}}
{% endfor %}
</head>
<body>
    <div id="content">
{% block content %}
{% endblock %}
    </div>
    <div class="footer">
{% block footer %}
        &copy; Copyright {{ HTML_base.year }} by <a href="https://nomocode.io">NomoCode</a>. Last updated {{ HTML_base.update_date }}
{% endblock %}
    </div>
</body>
</html>