{
  "name": "{{ metadata.title }}",
  "version": "{{ metadata.version }}",
  "description": "",
  "scripts": {
    "start": "node index-{{ metadata.version }}.js"
  },
  "author": "NomoCode",
  "license": "ISC",
  "dependencies": {
{% for package in metadata.imports.node %}
    "{{ package.name }}": "{{ package.version }}"{{ "," if not loop.last else "" }}
{% endfor %}
  }
}
