body {
{% if HTML.base['hide-scrollbars'] == true %}
    overflow: hidden; /* Hide scrollbars */
{% endif %}
    background-color: {{ HTML.base['background-color'] }};
}

.footer {
    position: fixed;
    left: 0;
    bottom: 10px;
    width: 100%;
    color: {{ HTML.base.footer.color }};
    text-align: center;
 }

 html, body, div, canvas {
    margin: 0;
    padding: 0;
    color: #c2c2c2;
 }